<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 行为参数:开启驼峰匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 关闭二级缓存，默认是开启，false：关闭 -->
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <!--<typeAliases>-->
        <!--&lt;!&ndash; 别名扫描，name:包的路径 &ndash;&gt;-->
        <!--<package name="cn.itcast.ssm.pojo"/>-->
    <!--</typeAliases>-->

    <!-- 映射文件 -->
    <!--<mappers>-->
        <!--<mapper resource="mybatis/mappers/UserMapper.xml"/>-->
    <!--</mappers>-->
    
    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
        </plugin>

        <!--通用mapper-->
        <plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
            <!--主键自增回写方法,默认值mysql-->
            <property name="IDENTITY" value="MYSQL"/>
            <!--通用mapper接口,多个用逗号隔开-->
            <property name="mappers" value="com.github.abel533.mapper.Mapper"/>
        </plugin>
    </plugins>

</configuration>